/SRP2/build/
/TallerOCP1/build/
/Calculos/nbproject/private/
/TallerOCP2/nbproject/private/
/TallerOCP2/build/
/TallerLSP1/nbproject/private/
/TallerLSP1/build/
/TallerISP!/nbproject/private/
/TallerISP2/nbproject/private/
/TallerISP!/build/
/TallerISP2/build/
/TallerDIP1/nbproject/private/
/TallerDIP1/build/
/TallerDIP2/nbproject/private/
/TallerDIP2/build/
