/SRP2/build/
/TallerOCP1/build/
/Calculos/nbproject/private/
/TallerOCP2/nbproject/private/
/TallerOCP2/build/
/TallerLSP1/nbproject/private/
/TallerLSP1/build/
/TallerISP!/nbproject/private/
/TallerISP2/nbproject/private/
/TallerISP!/build/
/TallerISP2/build/
/TallerDIP1/nbproject/private/
/TallerDIP1/build/
/TallerDIP2/nbproject/private/
/TallerDIP2/build/
/Taller8SRP/nbproject/private/
/Taller8LSP/nbproject/private/
/Taller9/target/
/Taller11_grasp/nbproject/private/
/Taller12/nbproject/private/
/Taller12/build/
/Taller13/target/
/Taller14/target/
/Taller15/nbproject/private/
/Taller15/build/
/Taller16/nbproject/private/
/Taller16/build/
/Parcial2/target/
